/* basic native CSS variables */
:root {
    --background-color: rgb(255, 255, 192);
    --font-color: black;
    --header-color: black;
    
    --scale-up: scale(1.2);
    --scale-norm: scale(1);
    --scale-down: scale(.8);
    --opacity-down: .8;

    --pokedex-boxes-borderRadius: 50% 20% / 10% 40%;;
    --pokedex-boxes-bgColor: red;
    --pokedex-boxes-textColor: whitesmoke;
}



/* basic formatting and CSS stuff */
body
{
    width: 100%;

    font-family: "Source Code Pro";
    font-style: normal;
    
    padding: 10px;
    margin: 10px;
    left: 10px;
    right: 10px;
    
    background-color: var(--background-color);
    background-image: linear-gradient(to right, red, red, black,white, white);
    background-attachment: fixed;
    color: var(--font-color);

    box-sizing: border-box;

    overflow-x: hidden;
}

main{
    width: 100%;
    display:grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;
    justify-content: center;

    left: 10px;
    right: 10px;
}

@media (max-width: 800px){

    body{
        font-size: 80%;
        margin: 10px;
    }

    main{
        grid-template-columns: 40% 40%;
        grid-template-rows: auto; 
    }
}


a
{
    text-decoration:none;
}

h1
{
    font-size: 150%;
    font-weight: 1000;
    font-family: "Archivo Black";

    color: var(--header-color);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: red;
}

hr {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(255, 0, 0, 0));
    margin: 50px;
}

button{
    transition: all .5s;
}

button:hover{
    cursor:pointer;
    transform: var(--scale-up);
}

button:active{
    transform: var(--scale-norm);
}

/* This is the first column, first row. Contains the introduction text, logo, and the user input formatting  */
.Introduction
{
    justify-content: left;
    text-align: left;

    color: white;
    font-family: "Lilita One";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);

    font-size: 125%;
}

.Introduction h1{
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    z-index: 0;
}

.Introduction #Pokemon-Logo
{
    border-radius:50%;

    width: 50px;
    height: auto;

    float:left;
}

.Introduction #pokemon-question
{
    color: white;
    
}

.Introduction input
{
    height: 100px;

    font-size: 130%;  
    -webkit-text-stroke-width: 0px;

    border-radius: 10% 50%;
    padding: 0;
    text-align: center;
}

.Introduction button
{
    border-radius: 80%;
    padding: 30px;

    font-weight: bold;
    font-size: 130%;
    

    background-image: linear-gradient(red,red, black, white, white);
    color: white;

    border: 2px solid black;
   
    transition: all .5s;
}

.Introduction button:hover
{
    cursor: pointer;
    transform: var(--scale-up);
    opacity: var(--opacity-down);
}

.Introduction button:active
{
    transform: var(--scale-norm);
}

@media (max-width: 800px){
    .Introduction{
        grid-column: span 2;
        text-align: center;
    }
}


/* This is the second column first row. Will be a lot more important and will have the
most amount of visual details once this is completed */
.pokemon-avatar{
    height: 500px;
    width: 100%;
}

.pokemon-avatar #pokemon-Title
{
    font-size: 50px;

    text-align:center;
    position: absolute;

    margin: 10px;

    color: var(--header-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);

    z-index:1;
}

.pokemon-avatar #pokemon-model
{
    justify-content: center;
    height: 100%;
    margin-bottom: 100px;
}

#pokemon-model .pokeImage
{
    max-width:700px;
    width: 95%;
    height: 95%;

    border-radius: 100px 100px;
    border-bottom: 2px solid black;
    border-right: 4px solid black;

    box-shadow: inset 0 -170px 20px red;
    
    animation: fadein 2s;
}

@keyframes fadein {
    from { 
        opacity: 0; 
    }
    to  {
        opacity: 1; 
    }
}

@media (max-width: 1200px){
    .pokemon-avatar{
        grid-column-start: span 3;
        grid-row-start: 2;
        
    }
    #pokemon-model{
        margin: 50px;
        height: 100%;
    }   
    .pokemon-avatar #pokemon-Title{
        margin-right: 40px;
        left: 40%;
    }
}

@media (max-width: 800px){
    .pokemon-avatar{
        grid-column-start: span 2;
        height: 350px;
    }
    #pokemon-model{
        margin: 20px;
        height: 100%;
    }   
    #pokemon-model img{
        height: auto;
        width: auto;
        padding-top: 50px;
    }
    .pokemon-avatar #pokemon-Title{
        left: 5%;
        font-size: 38px;
    }
}


/* This has the results for the user input in the Introductions Column */
.Results
{
    text-align: right;
    grid-column: 3;
    padding-right: 50px;
}

.Results p
{
    font-weight:800;
    font-size: 110%;
}

@media (max-width: 800px){
    .Results{
        grid-column: span 2;
        text-align: center;
        color: white;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: black;
        
        padding-right: 0;
    }
}

/* Modal CSS Settings */
.show-modal{
    display:fixed;
    top: 0;
    right: 0;
    margin: 10px;
    border-radius: 50%;
    padding: 10px;
    background-image: linear-gradient(maroon, brown, pink, rgb(168, 112, 7));
    transition: all .5s;
    color: black;
    font-weight: bold;
}

.show-modal:hover{
    cursor:pointer;
    transform: var(--scale-up);
    opacity: var(--opacity-down);
}

.randomizer{
    display:fixed;
    float: right;
    top: 0;
    left: 0;
    margin: 10px;
    border-radius: 50%;
    padding: 10px;
    background-image: linear-gradient(maroon, brown, pink, rgb(168, 112, 7));
    transition: all .5s;
    color: black;
    font-weight: bold;
}

.randomizer:hover{
    cursor:pointer;
    transform: var(--scale-up);
    opacity: var(--opacity-down);
}

#modal-container {
    display: none;
    animation: fadein 1s;
}

#modal-container.is-visible{
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);

    z-index: 9999;

    display:grid;
    text-align: center;
}

.modal{
    margin: auto;
    padding: 20px;
    display: inline;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background-image: linear-gradient(black, pink, pink,black);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
    overflow:visible;
}

.modal h1{
    font-size:55px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

.modal h2{
    font-size: 30px;
    float:left;
    margin-left: 200px;
    font-weight: bold;
}

.close-modal{

    text-decoration:none;
    font-weight: bolder;

    color: black;
    background-image: linear-gradient(to right, black, pink, black);

    border-radius: 50%;
    padding: 10px;

    font-size: 150%;

    float:right;
    position: sticky;
}

.modal .close-modal:hover{
    cursor:pointer;  
}

.modal-picture{
    width: 50%;
    height: auto;
    padding: 5px;
    float:right;
    position: sticky;
    bottom: 0;
    overflow: visible;
}

.modal-content{
    overflow: hidden;
    margin: 100px 40px 0 40px;

    text-align: left;
    font-size: 20px;
    font-weight: bold;

    animation: typing 2s;

    white-space: pre-wrap;
    padding: 20px 40px;

    height: auto;
    width: 50%;

    background-image: linear-gradient(rgb(134, 36, 69),white,white, white, rgb(134, 36, 69));

    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

@keyframes typing
{
    from {
        width: 30%;
    }
    to{
        width: 50%;
    }
}

@media (max-width: 800px){
    .modal h1{
        font-size:40px;
    }

    .modal-picture{
        width: 100%;
    }

    .close-modal{
        font-size: 80%;
    }

    .modal-content{
        width: 100%;
        height: 50%;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: bold;
    }

    @keyframes typing
{
    from {
        height: 0;
    }
    to{
        height: 50%;
    }
}

}

/* This is the list portion of the website */
.removed{
    display: none;
}

.pokemon-List{
    display: inline;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}

.pokemon-List h1 {
    text-align: center;
    flex-grow: 2;

    z-index:0;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.pokemon-sprites{
    width: 80px;
    height: auto;
}

.pokemon-entry{
    flex-flow: wrap;
}

.pokemon-entry button{
    padding: 10px;
    margin: 20px 30px;
    text-align: center;

    background-color: var(--pokedex-boxes-bgColor);
    color: var(--pokedex-boxes-textColor);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(41, 40, 40);

    border-radius: var(--pokedex-boxes-borderRadius);
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-left: 1px solid white;
    border-bottom: 1px solid white;

    box-shadow: 10px 5px 5px black;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    width: 13em;

    font-weight:bold;
    font-size: 125%;    
    font-family: "Archivo Black";

    transition: all .25s;
}

.pokemon-entry button:hover{
    cursor:pointer;
    transform: var(--scale-up);
}

.pokemon-entry button:active, .pokemon-entry button:focus{
    transform: var(--scale-norm);

    background-color: black;

    border-top: 5px solid red;
    border-right: 5px solid red;

    box-shadow: 10px 5px 2px red;
    box-shadow: inset 0 -3em 3em rgba(red, 0.1), 0.3em 0.3em 1em rgba(red, 0.3);
}

@media (max-width: 800px){
    .pokemon-entry button{
        margin:5px 10px;
        width: 90%;
    }
    .pokemon-List{
        width: 100%;
        align-items: baseline;
        justify-content: space-evenly;
        flex-direction: row;
        align-content: center;
    }
}

/* Standard page footer stuff. is a lot smaller than my portfolio footer since its less about me and more about the app. */
.page-footer
{
    display:grid;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#footer-title
{
    color: white;
}

.page-footer .Links
{
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto auto;
    justify-content: center;
}

.page-footer .Links img
{
    width: 30px;
    height: auto;
    transition: all .5s;
}

.page-footer .Links img:hover
{
    cursor: pointer;
    transform: var(--scale-up);
    opacity: var(--opacity-down);
}