/* basic native CSS variables */
:root {
    --background-color: rgb(255, 255, 192);
    --font-color: rgb(7, 7, 75);
    
    --scale-up: scale(1.2);
    --opacity-down: .8;
}



/* basic formatting and CSS stuff */
body
{
    font-family: "Source Code Pro";
    margin: 10px 40px;
    background-color: var(--background-color);
    color: var(--font-color);
}

a
{
    text-decoration:none;
}

h1
{
    font-size: 30px;
    font-weight: bolder;
}

hr
{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* separates the page into three columns with the middle being the largest. 2 rows are made as well. Does not count footer */
.page-grid
{
    display:grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: auto auto;
}

@media (max-width: 800px){
    .page-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        width: 80%;
    }
}

/* This is the first column, first row. Contains the introduction text, logo, and the user input formatting  */
.Introduction
{
    justify-content: left;
    text-align: left;
    
}

.Introduction #Pokemon-Logo
{
    border-radius:50%;
    width: 50px;
    height: auto;
    float:left;
    margin: 5px;
}

.Introduction #pokemon-question
{
    font-weight: bold;
}

.Introduction input
{
    border-radius: 10% 50%;
    height: 50px;
    text-align: center;
    font-weight:bolder;
}

.Introduction button
{
    border-radius: 10% 50%;
    font-weight: bold;
    background-color: blanchedalmond;
    padding: 5px 20px;
    transition: all .5s;
}

.Introduction button:hover
{
    cursor: pointer;
    transform: var(--scale-up);
    opacity: var(--opacity-down);
}


/* This is the second column first row. Will be a lot more important and will have the
most amount of visual details once this is completed */
.pokemon-avatar
{
    padding: 0 40px;
}

.pokemon-avatar #pokemon-Title
{
    text-align:center;
}

.pokemon-avatar #pokemon-model
{
    justify-content: center;
    height: 300px;
}

#pokemon-model img
{
    max-width:100%;
    width: auto;
}

@media (max-width: 800px){
    .pokemon-avatar{
        grid-column-start: 1 / 3;
        grid-row-start: 2;
    }
}


/* This is the third column first row and has the results for the user input in the Introductions Column */
.Results
{
    text-align: left;
    grid-column: 3;
}

.Results p
{
    font-weight:bold;
}

@media (max-width: 800px){
    .Results{
        grid-column-start: 2;
        grid-row-start: 1;
        width: 80%;
        text-align: right;
    }
}


/* Standard page footer stuff. is a lot smaller than my portfolio footer since its less about me and more about the app. */
.page-footer
{
    display:grid;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.page-footer #footer-title
{
    font-weight: bold;
}

.page-footer .Links
{
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto auto;
    justify-content: center;
}

.page-footer .Links img
{
    width: 30px;
    height: auto;
    transition: all .5s;
}

.page-footer .Links img:hover
{
    cursor: pointer;
    transform: var(--scale-up);
    opacity: var(--opacity-down);
}